.SummaryUser_Avatar{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer
}

.SummaryUser_Infor{
    color: #8e8d91;
    font-size: 1rem;
    font-weight: 500;
}