.InputTitle, .InputTag{
    width: 100%;
    border: 1px solid #d0d7de;
    padding: 0.5rem;
    border-radius: 0.4rem;
    &:focus{
        outline: none;
    }
    &:focus-within{
        border: 1px solid #F48023;
    }
}
.test_classname{
    word-wrap: break-word;
    color: #292929;
    font-size: 1.8rem;
    font-size: var(--font-size,1.8rem);
    line-height: 2;
    line-height: var(--line-height,2);
}