.UserListScreen {
    &_Cell {
        transition: transform 0.5s ease 0s;
        &:hover {
            transform: scale(1.03, 1.03);
            filter: drop-shadow(0 0 0.75rem rgb(131, 129, 129));
            // border: 1px solid rgb(183, 190, 211);;
        }
    }
}
